@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* Add the following */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* Add padding to the button */
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Add the following */
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #666;  /* Change color of the links */
  text-decoration: none;  /* Remove underline of the links */
}

.header,
.footer {
  display: flex;
  justify-content: space-between;  /* Put space between the left and right sections */
  padding: 16px;  /* Add padding */
}

.footer {
  background: #eee;  /* Add footer background color */
}

ul {
  display: flex;
  list-style: none;  /* Remove bulletpoints */
  margin: 0;  /* Reset margin */
  padding: 0;  /* Reset padding */
  gap: 16px;  /* Add gap between different links */
}